html,
body {
  margin: 0;
  height: 100%;
  background: #f9f9f9;
}
body {
  position: relative;
  padding-top: 110px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
}
.card {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2), inset 3px 0 0px -2px #ff7e72;
}
.card .card-header {
  margin-bottom: 30px;
}
.card .card-header .card-icon {
  float: left;
  background-color: #d81300;
  border-radius: 50%;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.card .card-header .card-title {
  position: relative;
  float: left;
  padding: 0 3px;
}
.card .card-header .card-title::before {
  content: "";
  display: block;
  position: absolute;
  left: -3px;
  right: -3px;
  bottom: 2px;
  height: 6px;
  background-color: #d81300;
  opacity: 0.2;
}
@media screen and (min-width: 992px) {
  .card .card-body {
    text-align: justify;
  }
}
ul.timeline {
  list-style: none;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 0 0 12px;
}
ul.timeline > li {
  position: relative;
  padding: 0;
  padding-left: 12px;
  padding-bottom: 15px;
}
ul.timeline > li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #ececec;
  width: 2px;
}
ul.timeline > li:first-child::before {
  top: 12px;
}
ul.timeline > li:last-child::before {
  bottom: auto;
  height: 12px;
}
ul.timeline > li::after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: -3px;
  background-color: #fff;
  width: 8px;
  height: 8px;
  border: 2px solid #d81300;
  border-radius: 50px;
}
ul.timeline > li .timeline-title {
  line-height: 24px;
  font-size: 14px !important;
}
ul.timeline > li .timeline-title .timeline-title-icon {
  display: inline-block;
  background-color: #d81300;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
ul.timeline > li .timeline-title > a {
  display: inline-block;
}
ul.timeline > li .timeline-little-text {
  font-size: 14px;
}
.btn-custom-1 {
  color: #fff;
  background-color: #d81300;
  border-color: #bf1100;
  outline: none;
}
.btn-custom-1:hover {
  color: #fff;
  background-color: #bf1100;
  border-color: #a50f00;
}
.btn-custom-1:not(:disabled):not(.disabled):active,
.btn-custom-1:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #bf1100;
  border-color: #a50f00;
}
.btn-custom-1.btn-rounded {
  border-radius: 23px;
}
.btn-custom-1 .icon {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 8px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #d81300;
}
#top-menu {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
}
#top-menu .navbar {
  background-color: #fff;
  border-color: #ffada5;
  color: #d81300;
}
#top-menu .navbar .navbar-toggle {
  border-color: #ffada5;
}
#top-menu .navbar .navbar-toggle .icon-bar {
  background-color: #ffada5;
}
#top-menu .navbar .navbar-toggle:focus,
#top-menu .navbar .navbar-toggle:hover {
  background-color: #d81300;
}
#top-menu .navbar .navbar-toggle:focus .icon-bar,
#top-menu .navbar .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
#top-menu .navbar li a {
  color: #d81300 !important;
  font-weight: bold !important;
}
#top-menu .navbar li.active a {
  background-color: #333 !important;
  color: #fff !important;
}
#home .download-line {
  text-align: center;
}
footer {
  background: #1e1e1e;
  margin: 0;
  margin-bottom: 30px;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  text-align: center;
}
footer a {
  color: #d81300;
  text-decoration: none;
}
