<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144644601-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-144644601-1');
    </script>

    <title>Fabiana de Almeida Pacheco - Analista de Departamento Pessoal</title>
    <meta http-equiv="Cache-control" content="max-age=86400">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Leandro Macedo">
    <meta name="description" content="Fabiana de Almeida Pacheco - Analista de Departamento Pessoal">
    <meta name="keywords" content="Fabiana de Almeida Pacheco, Analista de Departamento Pessoal">
    <meta name="copyright" content="© 2022 Fabiana de Almeida Pacheco">
    <meta name="robots" content="all">
    <meta name="theme-color" content="#d81300">
    <meta property="og:url" content="https://fabianapacheco.com.br">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Fabiana de Almeida Pacheco">
    <meta property="og:description" content="Fabiana de Almeida Pacheco - Analista de Departamento Pessoal">
    <meta property="og:image" content="https://fabianapacheco.com.br/assets/img/fabiana-almeida.jpeg">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style3.css">
</head>

<body>

    <main id="wrapper" class="container" itemscope itemtype="http://schema.org/Person">

        <div id="top-menu">
            <div class="container">

                <nav class="navbar navbar-default anavbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#home">
                                        <span class="fa fa-id-card-o"></span>
                                        <span class="hidden-sm hidden-md hidden-lg">Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#sobre-mim">
                                        <span class="fa fa-user-circle"></span>
                                        <span class="hidden-sm hidden-md hidden-lg">Sobre Mim</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#historico-profissional">
                                        <span class="fa fa-briefcase"></span>
                                        <span class="hidden-sm hidden-md hidden-lg">Histórico Profissional</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#formacao-academica">
                                        <span class="fa fa-graduation-cap"></span>
                                        <span class="hidden-sm hidden-md hidden-lg">Formação Acadêmica</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#competencias">
                                        <span class="fa fa-tasks"></span>
                                        <span class="hidden-sm hidden-md hidden-lg">Competências</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#certificacoes">
                                        <span class="fa fa-certificate"></span>
                                        <span class="hidden-sm hidden-md hidden-lg">Certificações</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>
        </div>

        <div class="row">
            <!-- Coluna 1 -->
            <div class="col-xs-12 col-md-5 col-lg-4">

                <!-- home -->
                <header class="card" id="home">
                    <div class="card-header">
                        <div class="card-icon">
                            <span class="fa fa-id-card-o"></span>
                        </div>

                        <div class="card-title">
                            <span class="bg"></span>
                            <h1 itemprop="name">
                                Fabiana de Almeida Pacheco
                            </h1>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="card-body">
                        <ul class="timeline">
                            <li>
                                <h4 class="timeline-title">
                                    <div class="timeline-title-icon">
                                        <i class="fa fa-map-o"></i>
                                    </div>

                                    <a href="https://goo.gl/maps/7MzJZpKiqACQmTD46" target="_blank">
                                        Guarulhos, SP
                                    </a>
                                </h4>
                            </li>
                            <li>
                                <h4 class="timeline-title">
                                    <div class="timeline-title-icon">
                                        <i class="fa fa-whatsapp"></i>
                                    </div>

                                    <a href="https://api.whatsapp.com/send?phone=5511952874965" target="_blank">
                                        <span itemprop="telephone">
                                            11 952874965
                                        </span>
                                    </a>
                                </h4>
                            </li>
                            <li>
                                <h4 class="timeline-title">
                                    <div class="timeline-title-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>

                                    <a href="mailto:almeidafabi293@gmail.com" target="_blank">
                                        <span itemprop="email">
                                            almeidafabi293@gmail.com
                                        </span>
                                    </a>
                                </h4>
                            </li>
                            <li>
                                <h4 class="timeline-title">
                                    <div class="timeline-title-icon">
                                        <i class="fa fa-linkedin"></i>
                                    </div>

                                    <a href="https://www.linkedin.com/in/fabiana-almeida-ab262b236/" target="_blank" itemprop="follows">
                                        @fabiana-almeida
                                    </a>
                                </h4>
                            </li>
                        </ul>

                        <p class="download-line">
                            <a href="curriculo-fabiana-de-almeida-pacheco.pdf" target="_blank" class="btn btn-custom-1 btn-rounded">
                                Download Currículo
                                <span class="icon">
                                    <span class="fa fa-download"></span>
                                </span>
                            </a>
                        </p>
                    </div>
                </header>

            </div>

            <!-- Coluna 2 -->
            <div class="col-xs-12 col-md-7 col-lg-8">

                <!-- Sobre Mim -->
                <section class="card" id="sobre-mim">
                    <div class="card-header">
                        <div class="card-icon">
                            <span class="fa fa-user-circle"></span>
                        </div>

                        <div class="card-title">
                            <span class="bg"></span>
                            <h2>Sobre Mim</h2>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="card-body" itemprop="knowsAbout">
                        <p>
                            Profissional com histórico de liderança de equipes de alto desempenho,
                            capaz de tomar decisões assertivas a fim de superar as metas
                            estabelecidas. Experiência de 10 anos em Departamento Pessoal, com foco
                            na entrega de um serviço de excelência.
                        </p>
                    </div>
                </section>

                <!-- Histórico Profissional -->
                <section class="card" id="historico-profissional">
                    <div class="card-header">
                        <div class="card-icon">
                            <span class="fa fa-briefcase"></span>
                        </div>

                        <div class="card-title">
                            <span class="bg"></span>
                            <h2>Histórico Profissional</h2>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="card-body">
                        <ul class="timeline">
                            <li>
                                <h3 class="timeline-title">
                                    Analista de Departamento Pessoal
                                </h3>

                                <p>
                                    <small>ESS Contabilidade e Consultoria</small>
                                    <br>
                                    <small>01/2021 - ATUAL</small>
                                </p>

                                <p class="timeline-little-text">
                                    <b>Departamento Pessoal:</b> Processo de Admissão, Integração de
                                    colaboradores, Ponto Eletrônico, Controle de Banco de Horas, Folha de
                                    Pagamento, Encargos Sociais ( DARF Previdenciário, DARF, FGTS,
                                    Contribuições sindicais), CAGED, Programação e Cálculos de Férias, 13°
                                    Salário, Rescisão de Contrato de Trabalho, Confecções de crachás.
                                    Homologações, Processos Trabalhistas, preposto na justiça do trabalho.
                                    RAIS, PIS, SEFIP, E-SOCIAL, DCTFWeb, Conectividade Social –
                                    EMPRESA. Controle de EPIs, atestados médicos.
                                </p>

                                <p class="timeline-little-text">
                                    <b>Benefícios:</b> Implantação de benefícios, compras e faturamento: Assistência
                                    Médica, VR, VT, VA, Seguro de vida, Farmácia.
                                </p>

                                <p class="timeline-little-text">
                                    <b>Serviço Social:</b> Acompanhamento de afastamento por motivo de doença ou
                                    Acidente de Trabalho.
                                </p>

                                <p class="timeline-little-text">
                                    <b>Sistemas:</b> Contmatic Phoenix, ADP, Rbtexto, Nexcode, Alterdata.
                                </p>

                                <p class="timeline-little-text">
                                    <b>Recursos Humanos:</b> Triagem de currículos, aplicações de testes,
                                    entrevistas individuais e coletivas.
                                </p>
                            </li>
                            <li>
                                <h3 class="timeline-title">
                                    Assistente Administrativo III
                                </h3>

                                <p>
                                    Rm Plan Eng e Serv Especializados LTDA
                                </p>

                                <p>
                                    <span>04/2019 - 07/2020</span>
                                </p>

                                <p class="timeline-little-text">
                                    Controle de chegada e saída de correspondências; Emissão de notas fiscais,
                                    além de seu lançamento no sistema; Organização de arquivos;
                                    Criação e controle de documentos; Cadastros atualizados;
                                    Criação de planilhas e relatórios; Extração de dados de sistemas gerenciais;
                                    Atendimento a fornecedores, clientes e público em geral, entre outras
                                    atribuições. Apuração de Impostos (Simples Nacional).
                                </p>
                            </li>
                            <li>
                                <h3 class="timeline-title">
                                    Assistente de Departamento Pessoal
                                </h3>

                                <p>
                                    Decolar.com
                                </p>

                                <p>
                                    <span>06/2017 - 12/2018</span>
                                </p>

                                <p class="timeline-little-text">
                                    Apuração do ponto eletrônico, admissão, integração de novos colaboradores,
                                    folha de pagamento, férias, rescisões, homologações.
                                </p>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- Formação Acadêmica -->
                <section class="card" id="formacao-academica">
                    <div class="card-header">
                        <div class="card-icon">
                            <span class="fa fa-graduation-cap"></span>
                        </div>

                        <div class="card-title">
                            <span class="bg"></span>
                            <h2>Formação Acadêmica</h2>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="card-body">
                        <ul class="timeline">
                            <li>
                                <h3 class="timeline-title">
                                    Graduação | Recursos Humanos
                                </h3>

                                <p>
                                    <small>Cursando 4° Semestre - Previsto para 12/2022</small>
                                </p>

                                <p class="timeline-little-text">
                                    FAM, Guarulhos
                                </p>
                            </li>
                            <li>
                                <h3 class="timeline-title">
                                    Graduação | Administração
                                </h3>

                                <p>
                                    <small>Completo - 12/2015</small>
                                </p>

                                <p class="timeline-little-text">
                                    FIG UNIMESP, São Paulo, SP
                                </p>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- Competências -->
                <section class="card" id="competencias">
                    <div class="card-header">
                        <div class="card-icon">
                            <span class="fa fa-tasks"></span>
                        </div>

                        <div class="card-title">
                            <span class="bg"></span>
                            <h2>Competências</h2>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="card-body">
                        <ul class="timeline">
                            <li>
                                <h3 class="timeline-title">
                                    Facilidade com cálculos para controle financeiro
                                </h3>
                            </li>
                            <li>
                                <h3 class="timeline-title">
                                    Gestão de equipe
                                </h3>
                            </li>
                            <li>
                                <h3 class="timeline-title">
                                    Automotivação
                                </h3>
                            </li>
                            <li>
                                <h3 class="timeline-title">
                                    Habilidades em comunicação
                                </h3>
                            </li>
                            <li>
                                <h3 class="timeline-title">
                                    Conhecimentos em contabilidade e departamento pessoal
                                </h3>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- Certificações -->
                <section class="card" id="certificacoes">
                    <div class="card-header">
                        <div class="card-icon">
                            <span class="fa fa-certificate"></span>
                        </div>

                        <div class="card-title">
                            <span class="bg"></span>
                            <h2>Certificações</h2>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="card-body">
                        <ul class="timeline">
                            <li>
                                <h3 class="timeline-title">
                                    Lei Geral de Proteção de Dados pela Escola Senai - 4 horas
                                </h3>
                            </li>
                            <li>
                                <h3 class="timeline-title">
                                    Cálculos Trabalhistas pela Escola Web Unova Cursos Ltda - 60 horas
                                </h3>
                            </li>
                            <li>
                                <h3 class="timeline-title">
                                    Legislação Trabalhistas pela Escola Senac - 30 horas
                                </h3>
                            </li>
                        </ul>
                    </div>
                </section>

                <footer>
                    <p>
                        © 2022 Todos os direitos reservados.
                    </p>
                    <p>
                        Feito por
                        <a href="https://fabianapacheco.com.br/" target="_blank">
                            Leandro Macedo
                        </a>
                    </p>
                </footer>

            </div>
        </div>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <script src="/assets/js/scrollwatch.js"></script>
    <script>
        $(function () {
            // top menu
            $('section.card')
                .scrollWatchMapTo('#wrapper div#top-menu nav.navbar ul.navbar-nav > li', null, {
                    resolutionMode: 'focus-line',
                    viewMarginTop: 110
                });

            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                        &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top - 110
                            }, 1000, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });
        });
    </script>

</body>

</html>